
.recipeTile {
	color: inherit;
	text-decoration: inherit;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	width: 20rem;
	height: 7rem;
	background: #f9f9f9;
	box-shadow: 0 2px 5px 0 #a2a2a2;
	transition: box-shadow .25s ease;
	cursor: pointer;
	border-radius: .5rem;
	overflow: hidden;

	> div {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: .5rem;
		max-width: calc(100% - 10rem);

		.tile {
			font-size: 1.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.misc {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	> img {
		height: 100%;
		width: 9rem;
		object-fit: cover;
	}

	&:hover {
		box-shadow: 0 4px 5px 0 #969696;
	}
}
