

.main-heading {
	text-align: center;
	color: #4d4d4d;
	font-family: "Roboto Thin", serif;
	font-size: 2vw;
}

.manageIngredients {
	position: relative;

	.tiles {
		width: 70%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		> .tile {
			position: relative;
			width: 16rem;
			height: 8rem;
			transition: transform .2s;
			margin: 2rem;
			cursor: pointer;

			&:focus:not(:focus-visible) {
				outline: none;
			}

			&:hover {
				transform: scale(1.2);
				//
				//> .image {
				//	filter: blur(3px);
				//}
				//
				//> .overlay {
				//	opacity: 1;
				//}
			}

			> .image {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				transition: transform .2s;
			}

			> .overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				//opacity: 0;
				transition: .5s ease;


			}
		}
	}

	.text {
		color: #333333;
		font-family: "Roboto Thin", serif;
		font-weight: bold;
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.search {
		position: sticky;
		bottom: 0;
		width: 100%;
		//height: 6rem;
		background-color: #ffffffdd;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-top: 2px solid #333333;

		> .searchResults {
			width: 60%;
			max-height: 10rem;
			overflow-x: auto;
			overflow-y: hidden;
			transition: all .125s ease;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;

			&.empty {
				max-height: 0;
			}

			> .ingredientResult {
				font-size: 1.25rem;
				padding: .25rem 1rem;
				cursor: pointer;
			}
		}

		> input {
			width: 20rem;
			border: 2px solid #333333;
			border-radius: 10px;
			font-size: 1rem;
			background-image: url('searchicon.png');
			background-size: 5%;
			background-position: 2% 50%;
			background-repeat: no-repeat;
			padding: 0.75% 1% 0.75% 1.5%;
			margin: .5rem;
		}
	}
}