$headerHeight: 6rem;

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #F3B62C;
	padding: 0 1rem;
	height: $headerHeight;

	> .logo {
		img {
			height: $headerHeight;
			filter: saturate(0) brightness(3);
		}
	}

	.login {
		margin-left: auto;
	}

	> nav {
		display: flex;
		height: $headerHeight;

		> a {
			display: block;
			color: white;
			text-decoration: none;
			font-size: 1.25rem;
			height: $headerHeight;
			line-height: $headerHeight;
			padding: 0 3rem;
			transition: background-color .25s ease;

			&:hover:not(.current) {
				background: #ffffff33;
			}

			&:active, .current {
				background: #ffffff66;
			}
		}
	}
}