

.recipePage {
	> .title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	> .recipeImage {
		max-height: 30rem;
		width: 100%;
		object-fit: contain;
	}

	> .ingredients {
		> .ingredientGroup {

			> table {
				width: 100%;
				border-collapse: collapse;

				tr {

					&:nth-child(odd) {
						background: #f9f9f9;
					}

					td {
						height: 2rem;
						padding: .25rem;

						&:first-child {
							text-align: right;
						}
					}
				}
			}
		}
	}

}