$headerHeight: 6rem;

.App {
	position: relative;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #F3B62C;
	padding: 0 1rem;
	height: $headerHeight;
	position: sticky;
	top: 0;
	z-index: 1;

	> .logo {
		img {
			height: $headerHeight;
			filter: saturate(0) brightness(3);
			transform: translateY(12.5%);
		}
	}

	.login {
		margin-left: auto;
	}

	> nav {
		display: flex;
		height: $headerHeight;

		> a {
			display: block;
			color: white;
			text-decoration: none;
			font-size: 1.25rem;
			height: $headerHeight;
			line-height: $headerHeight;
			padding: 0 3rem;
			transition: background-color .25s ease;
			box-sizing: border-box;
			border-top: 4px solid transparent;

			&:hover {
				background: #ffffff33;
				border-top: 4px solid #ffffff55;
			}

			&:active {
				background: #ffffff66;
			}

			&.current {
				border-top: 4px solid #ffffffaa;
			}
		}
	}

	.simpleButton {
		margin: .5rem;
		padding: .75rem 1rem;
		font-size: 1rem;
	}
}

.paddedPage {
	width: #{m}in(80vw, 70rem);
	margin: 2rem auto;
}
